<aside class="social">
    <ul>
        <li><a href="https://www.facebook.com/Sumergidapro-901883523190747/"><img src="../imagenes/facebook2.svg" alt=""></a></li>
        <li><a href="https://www.instagram.com/sumergidapro/"><img src="../imagenes/instagram.svg" alt=""></a></li>
        <li><a href=""><img src="../imagenes/twitter.svg" alt=""></a></li>
        <li><a href=""><img src="../imagenes/youtube.svg" alt=""></a></li>
        <li><a href=""><img src="../imagenes/mail2.svg" alt=""></a></li>
        <li><a href=""><img src="../imagenes/github.svg" alt=""></a></li>
    </ul>
</aside>