<section>
    <article class="c1"></article>
    <article class="c2">
        <h1>SUMERGIDA PRODUCCIONES</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non facilis eos, voluptas nisi, facere vitae deserunt, soluta consequatur tempore ducimus aperiam fuga veniam id ipsa, perferendis similique. Suscipit, natus, molestiae.</p>
    </article>
    <article class="c3"></article>
    <article class="c4">
        <h2>SUMERGIDA AUDIO</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maxime optio explicabo quas, natus officia magni! Maiores aliquid reraum tempore cumque porro beatae, sit, repellat, ipsam pariatur ab praesentium laudantium.</p>
    </article>
    <article class="c5"></article>
    <article class="c6">
        <h2>SUMERGIDA CINE</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, tenetur assumenda quisquam dolorem officia placeat voluptates impedit laboriosam, esse facere earum alias. Suscipit eaque quas, ullam labore eum ea sapiente.</p>
    </article>
    <article class="c7"></article>
    <article class="c8">
        <h2>SUMERGIDA FOTO</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nostrum praesentium nam ipsa eligendi fugit, nobis, mollitia dolorum sapiente nihil a eos dignissimos facere incidunt neque. Eum sapiente consequuntur molestiae.</p>
    </article>
    <article class="c9"></article>
    <article class="c10">
        <h2>SUMERGIDA WEB</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt fugit recusandae, sint impedit est! Tempora deserunt, voluptates placeat tempore odio similique nisi a, sit explicabo reprehenderit, dignissimos incidunt veritatis ullam.</p>
    </article>
    <article class="c11">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias labore, provident quae quas soluta aliquid qui quia repudiandae ad magni dolor id ipsa, adipisci in suscipit commodi tenetur hic, vero!</p>
    </article>
</section>