gris = #939598
verde = #044d64
celeste = #02aec3
negro = #231f20
header 
    width 100%
    height 64px
    background negro
    line-height 64px
    position fixed
    top 0
    @media screen and (max-width: 600px)
        text-align center
    .logo
        display inline-block
        background url('app/imagenes/sumergidaLogo.png')
        background-size cover
        height 40px
        width 217px
        margin 12px 0 0 20px
        @media screen and (max-width: 600px)
            margin 12px 0 0 0
        @media screen and (min-resolution: 2dppx)
            background url('app/imagenes/sumergidaLogo2x.png') cover
        @media screen and (min-resolution: 3dppx)
            background url('app/imagenes/sumergidaLogo3x.png') cover
