
gris = #939598
verde = #044d64
celeste = #02aec3
negro = #231f20
naranja = #F6391B

    
body
    margin 0
    background verde

@import "header.styl"
@import "inicio.styl"
@import "footer.styl"


    
    
