gris = #939598
verde = #044d64
celeste = #02aec3
negro = #231f20
header 
    display block
    height 64px
    background verde
    line-height 64px
    @media screen and (orientation: portrait)
        text-align center
    .logo
        display inline-block
        background url('../imagenes/sumergidaLogo.png')
        background-size cover
        height 40px
        width 217px
        margin 12px 0 0 5px
        @media screen and (orientation: portrait)
            margin 12px 0 0 0
        @media screen and (min-resolution: 2dppx)
            background url('imagenes/sumergidaLogo2x.png') cover
        @media screen and (min-resolution: 3dppx)
            background url('imagenes/sumergidaLogo3x.png') cover
