naranja = #F6391B


.social 
    position fixed 
    background naranja
    bottom 0
    right 0
    height 230px
    padding 10px
    @media screen and (min-width: 1130px)
        top 64px
        width 30px 
     ul
         list-style none
         width 30px
         padding 0
         height 300px
         li
             margin 0
             img
                 height 30px
             