naranja = #F6391B


.social 
    position fixed 
    background naranja
    bottom 0
    right 0
    width 230px
    height 50px
    @media screen and (min-width: 1130px)
        top 64px
        right 0
        padding 10px
        width 30px 
        height 230px
     ul
         width 300px
         height 30px
         padding 0
         list-style none
         @media screen and (min-width: 1130px) 
             width 30px
             height 300px
         li
             display inline-block
             margin 0
             @media screen and (max-width: 1130px) 
                 margin-right 5px
             img
                 height 30px
             